.footer {
    background-color: $amarilloFooter;
}

.redes {
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.bi-facebook {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
}
.bi-facebook:hover {
    color: #0e14cf;
}

.bi-instagram {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
}
.bi-instagram:hover {
    color: #ff6a00;
}

.bi-tiktok {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
}
.bi-tiktok:hover {
    color: rgb(152, 18, 167) ;
}