.btn-danger {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  
a {
    text-decoration: none;
}
