@media only screen and (max-width: 768px) {
    .aside {
        display: none;
    }
}

h1 {
    background-color: $azulTitulos ;
}

.card-body {
    background-color: $azulContenido ;
    font-size: 20px ;
}
